<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuarios</title>
    <link rel="stylesheet" href="/css/registro.css">
    <script src="/js/registro.js"></script>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form th:action=@{/registro} method="post" th:object="${usuario}">
            <input type="text" placeholder="name" th:field="*{nombre}" required autofocus="autofocus"/>
            <input type="email" placeholder="email" th:field="*{email}"/>
            <input type="text" placeholder="password" th:field="*{password}"/>
            <button type="submit" class="btn btn-success">Registrar</button>
            <p class="message">Ya te registraste? <a href="#">Inicia sesión</a></p>
        </form>
    </div>
</div>
</body>
</html>